.buttons {
  position: absolute;
  right: 5px;
}

button {
  border: none;
  background: none;
  color: antiquewhite;
  font-size: 25px;
}

nav {
  height: 60px;
}

nav span {
  color: antiquewhite;
  font-size: 20px;
}

button:hover {
  color: rgb(151, 112, 61);
}

nav span:hover {
  color: rgb(151, 112, 61);
}

a:hover {
  text-decoration: none;
}

.links {
  width: 600px;
  display: flex;
  justify-content: space-around;
}
